header {
    background: #c6e4ff;
    padding-bottom: 15rem;
    nav {
        >.left-side {
            li>a {
                color: #000;
            }
            li>a:hover {
                color: #2196f3
            }
        }
        >.right-side {
            button:hover,
            button:nth-child(2) {
                background-color: #3f51b5;
                color: white
            }
        }
    }
    section {
        div.left-side {
            >h2 {
                color: black;
                font-weight: 600;
            }
            >p {
                color: rgb(85, 85, 85)
            }
            .doctor-profile,
            .patient-profile {
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: darkturquoise;
            }
            .doctor-profile:hover,
            .patient-profile:hover {
                border-radius: 1rem;
                cursor: pointer;
            }
        }
        div.right-side {
            background-image: url(../img/header.png);
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: bottom center;
            margin-bottom: -15rem;
            background-size: contain;
        }
    }
}

section#search {
    div.search-box {
        background-color: white;
        border-radius: 2rem;
        padding: 3rem;
        margin-top: -10rem;
        h4 {
            font-weight: 600;
        }
        .search-inputs {
            form {
                grid-auto-flow: column;
                grid-template-columns: 4fr 4fr 1fr;
                gap: 1rem;
                div.form-group {
                    display: inherit;
                    position: relative;
                    i {
                        position: absolute;
                        top: 30%;
                        left: 2%;
                        color: #b9b9b9;
                        font-size: 2rem;
                    }
                }
                input[type=text] {
                    outline: 0;
                    border: 1px solid #eee;
                    border-radius: 1rem;
                    color: #001120;
                    padding-left: 3rem;
                    background-color: aliceblue;
                }
                input[type=text]::placeholder {
                    color: #ced1ff
                }
                button {
                    background-color: #3f51b5;
                    color: whitesmoke
                }
            }
        }
    }
    .search-hashtags {
        grid-template-columns: 11fr 1fr;
        span {
            background-color: aliceblue;
            border-radius: 0.3rem;
        }
        span:hover {
            cursor: pointer;
            background-color: #00bcd4;
        }
        button {
            background-color: #3f51b5;
            color: white;
        }
    }
}

#people-search {
    margin: 8rem 0;
    padding-left: 5rem;
    h2 {
        font-weight: 600;
        font-size: 5rem;
    }
    .roll-box {
        margin: 2rem 0;
        padding: 1rem 0;
        >ul {
            border-right: 3px solid blueviolet;
            padding-right: 2rem;
            font-size: 2rem;
            li.active {
                font-weight: 600;
            }
        }
        .roll-image {
            width: 15rem;
            color: #001120;
            background: white;
            border-radius: 0.6rem;
            margin: 0 0.7rem;
            align-content: center;
            align-items: center;
            box-sizing: border-box;
        }
        .roll-image:hover {
            cursor: pointer;
            border: 3px solid blue;
            background-color: azure;
        }
    }
}

#find-doctor {
    margin: 8rem 0;
    .find-doctor-text {
        >h4 {
            font-size: 6rem;
            font-weight: 600;
        }
        >p {
            font-size: 2.1rem;
            margin: 2rem 0;
            color: #555555;
        }
        >.find-doctor-steps {
            .find-doctor-step {
                margin: 0.6rem 0;
                grid-template-columns: 1fr 8fr;
                >i {
                    padding: 1rem;
                    border-radius: 50%;
                    width: 5rem;
                    height: 5rem;
                    font-size: 3rem;
                    margin: 1rem 0;
                }
                >h4 {
                    font-size: 2.6rem;
                    font-weight: 600;
                    padding: 1rem 0;
                }
                >div {
                    border-left: 3px solid #a5a5a5;
                    margin-left: 2.6rem;
                    margin-top: 1rem;
                }
            }
            .find-doctor-step:nth-child(1) {
                i {
                    background-color: #673ab7;
                    color: #dbc7ff;
                }
            }
            .find-doctor-step:nth-child(2) {
                i {
                    background-color: #3a88b5;
                    color: #d7f1ff;
                }
            }
            .find-doctor-step:nth-child(3) {
                i {
                    background-color: #3ab772;
                    color: #e4fff0;
                }
            }
            .find-doctor-step:last-child {
                >div {
                    border-left: none;
                    margin-left: 2.6rem;
                    margin-top: 1rem;
                }
            }
        }
    }
    .find-doctor-image {
        position: relative;
        background-image: url(../img/find-doctor/1.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: azure;
        .find-doctor-form {
            width: 24rem;
            background: WHITE;
            padding: 1rem;
            border-radius: 1rem;
            border: 1px solid #eee;
            position: absolute;
            bottom: 133px;
            left: -65px;
            >h3 {
                font-size: 2.6rem;
                font-weight: 600;
            }
            .form-group {
                >input {
                    width: 100%;
                    outline: 0;
                    border: 1px solid #eee;
                    border-radius: 1rem;
                    color: #001120;
                    padding-left: 3rem;
                    background-color: aliceblue;
                    margin: 0.3rem 0;
                    font-family: inherit;
                }
                >i {
                    position: absolute;
                    left: 13px;
                    font-size: 2rem;
                    padding: 1.3rem 0.5rem;
                    color: #d7d7d7;
                }
            }
            >button {
                background-color: #3f51b5;
                color: white;
            }
        }
    }
}

#why-choose {
    margin: 8rem 0;
    background-color: #f0f4ff;
    .why-choose-section {
        padding: 7rem 0;
        .left-side {
            position: relative;
            background-image: url(../img/why-choose/1.png);
            background-clip: content-box;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            ul {
                padding: 1rem;
                position: absolute;
                top: 289px;
                right: 47px;
                background-color: white;
                border-radius: 1rem;
                li {
                    display: flex;
                    align-items: center;
                    padding: 0.4rem;
                    >i {
                        padding: 0 1rem;
                    }
                }
                li:hover {
                    background-color: darkturquoise;
                    border-radius: 1rem;
                    cursor: pointer;
                }
            }
        }
        .right-side {
            align-items: flex-start;
            >h3 {
                font-size: 6rem;
                font-weight: 600;
            }
            >p {
                color: #99bdff;
                padding: 2rem 0;
                font-size: 1.8rem;
            }
            >ul {
                margin-bottom: 3rem;
                >li {
                    padding: 0.3rem 0;
                    font-size: 2rem;
                    i {
                        padding-right: 0.5rem;
                        color: blue;
                        font-size: 3.5rem;
                    }
                }
            }
            button {
                background-color: #3f51b5;
                color: white
            }
        }
    }
}