header {
  background: #c6e4ff;
  padding-bottom: 15rem;
}

header nav > .left-side li > a {
  color: #000;
}

header nav > .left-side li > a:hover {
  color: #2196f3;
}

header nav > .right-side button:hover,
header nav > .right-side button:nth-child(2) {
  background-color: #3f51b5;
  color: white;
}

header section div.left-side > h2 {
  color: black;
  font-weight: 600;
}

header section div.left-side > p {
  color: #555555;
}

header section div.left-side .doctor-profile,
header section div.left-side .patient-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: darkturquoise;
}

header section div.left-side .doctor-profile:hover,
header section div.left-side .patient-profile:hover {
  border-radius: 1rem;
  cursor: pointer;
}

header section div.right-side {
  background-image: url(../img/header.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-bottom: -15rem;
  background-size: contain;
}

section#search div.search-box {
  background-color: white;
  border-radius: 2rem;
  padding: 3rem;
  margin-top: -10rem;
}

section#search div.search-box h4 {
  font-weight: 600;
}

section#search div.search-box .search-inputs form {
  grid-auto-flow: column;
  -ms-grid-columns: 4fr 4fr 1fr;
      grid-template-columns: 4fr 4fr 1fr;
  gap: 1rem;
}

section#search div.search-box .search-inputs form div.form-group {
  display: inherit;
  position: relative;
}

section#search div.search-box .search-inputs form div.form-group i {
  position: absolute;
  top: 30%;
  left: 2%;
  color: #b9b9b9;
  font-size: 2rem;
}

section#search div.search-box .search-inputs form input[type=text] {
  outline: 0;
  border: 1px solid #eee;
  border-radius: 1rem;
  color: #001120;
  padding-left: 3rem;
  background-color: aliceblue;
}

section#search div.search-box .search-inputs form input[type=text]::-webkit-input-placeholder {
  color: #ced1ff;
}

section#search div.search-box .search-inputs form input[type=text]:-ms-input-placeholder {
  color: #ced1ff;
}

section#search div.search-box .search-inputs form input[type=text]::-ms-input-placeholder {
  color: #ced1ff;
}

section#search div.search-box .search-inputs form input[type=text]::placeholder {
  color: #ced1ff;
}

section#search div.search-box .search-inputs form button {
  background-color: #3f51b5;
  color: whitesmoke;
}

section#search .search-hashtags {
  -ms-grid-columns: 11fr 1fr;
      grid-template-columns: 11fr 1fr;
}

section#search .search-hashtags span {
  background-color: aliceblue;
  border-radius: 0.3rem;
}

section#search .search-hashtags span:hover {
  cursor: pointer;
  background-color: #00bcd4;
}

section#search .search-hashtags button {
  background-color: #3f51b5;
  color: white;
}

#people-search {
  margin: 8rem 0;
  padding-left: 5rem;
}

#people-search h2 {
  font-weight: 600;
  font-size: 5rem;
}

#people-search .roll-box {
  margin: 2rem 0;
  padding: 1rem 0;
}

#people-search .roll-box > ul {
  border-right: 3px solid blueviolet;
  padding-right: 2rem;
  font-size: 2rem;
}

#people-search .roll-box > ul li.active {
  font-weight: 600;
}

#people-search .roll-box .roll-image {
  width: 15rem;
  color: #001120;
  background: white;
  border-radius: 0.6rem;
  margin: 0 0.7rem;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#people-search .roll-box .roll-image:hover {
  cursor: pointer;
  border: 3px solid blue;
  background-color: azure;
}

#find-doctor {
  margin: 8rem 0;
}

#find-doctor .find-doctor-text > h4 {
  font-size: 6rem;
  font-weight: 600;
}

#find-doctor .find-doctor-text > p {
  font-size: 2.1rem;
  margin: 2rem 0;
  color: #555555;
}

#find-doctor .find-doctor-text > .find-doctor-steps .find-doctor-step {
  margin: 0.6rem 0;
  -ms-grid-columns: 1fr 8fr;
      grid-template-columns: 1fr 8fr;
}

#find-doctor .find-doctor-text > .find-doctor-steps .find-doctor-step > i {
  padding: 1rem;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  margin: 1rem 0;
}

#find-doctor .find-doctor-text > .find-doctor-steps .find-doctor-step > h4 {
  font-size: 2.6rem;
  font-weight: 600;
  padding: 1rem 0;
}

#find-doctor .find-doctor-text > .find-doctor-steps .find-doctor-step > div {
  border-left: 3px solid #a5a5a5;
  margin-left: 2.6rem;
  margin-top: 1rem;
}

#find-doctor .find-doctor-text > .find-doctor-steps .find-doctor-step:nth-child(1) i {
  background-color: #673ab7;
  color: #dbc7ff;
}

#find-doctor .find-doctor-text > .find-doctor-steps .find-doctor-step:nth-child(2) i {
  background-color: #3a88b5;
  color: #d7f1ff;
}

#find-doctor .find-doctor-text > .find-doctor-steps .find-doctor-step:nth-child(3) i {
  background-color: #3ab772;
  color: #e4fff0;
}

#find-doctor .find-doctor-text > .find-doctor-steps .find-doctor-step:last-child > div {
  border-left: none;
  margin-left: 2.6rem;
  margin-top: 1rem;
}

#find-doctor .find-doctor-image {
  position: relative;
  background-image: url(../img/find-doctor/1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: azure;
}

#find-doctor .find-doctor-image .find-doctor-form {
  width: 24rem;
  background: WHITE;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #eee;
  position: absolute;
  bottom: 133px;
  left: -65px;
}

#find-doctor .find-doctor-image .find-doctor-form > h3 {
  font-size: 2.6rem;
  font-weight: 600;
}

#find-doctor .find-doctor-image .find-doctor-form .form-group > input {
  width: 100%;
  outline: 0;
  border: 1px solid #eee;
  border-radius: 1rem;
  color: #001120;
  padding-left: 3rem;
  background-color: aliceblue;
  margin: 0.3rem 0;
  font-family: inherit;
}

#find-doctor .find-doctor-image .find-doctor-form .form-group > i {
  position: absolute;
  left: 13px;
  font-size: 2rem;
  padding: 1.3rem 0.5rem;
  color: #d7d7d7;
}

#find-doctor .find-doctor-image .find-doctor-form > button {
  background-color: #3f51b5;
  color: white;
}

#why-choose {
  margin: 8rem 0;
  background-color: #f0f4ff;
}

#why-choose .why-choose-section {
  padding: 7rem 0;
}

#why-choose .why-choose-section .left-side {
  position: relative;
  background-image: url(../img/why-choose/1.png);
  background-clip: content-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#why-choose .why-choose-section .left-side ul {
  padding: 1rem;
  position: absolute;
  top: 289px;
  right: 47px;
  background-color: white;
  border-radius: 1rem;
}

#why-choose .why-choose-section .left-side ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4rem;
}

#why-choose .why-choose-section .left-side ul li > i {
  padding: 0 1rem;
}

#why-choose .why-choose-section .left-side ul li:hover {
  background-color: darkturquoise;
  border-radius: 1rem;
  cursor: pointer;
}

#why-choose .why-choose-section .right-side {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#why-choose .why-choose-section .right-side > h3 {
  font-size: 6rem;
  font-weight: 600;
}

#why-choose .why-choose-section .right-side > p {
  color: #99bdff;
  padding: 2rem 0;
  font-size: 1.8rem;
}

#why-choose .why-choose-section .right-side > ul {
  margin-bottom: 3rem;
}

#why-choose .why-choose-section .right-side > ul > li {
  padding: 0.3rem 0;
  font-size: 2rem;
}

#why-choose .why-choose-section .right-side > ul > li i {
  padding-right: 0.5rem;
  color: blue;
  font-size: 3.5rem;
}

#why-choose .why-choose-section .right-side button {
  background-color: #3f51b5;
  color: white;
}

#meet-specialist {
  padding: 8rem 0;
  background-color: white;
}

#meet-specialist .meet-specialist-section {
  text-align: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

#meet-specialist .meet-specialist-section > .specialist-list {
  padding: 1rem 0;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

#meet-specialist .meet-specialist-section > .specialist-list > div {
  border-radius: 0.5rem;
  padding: 0.6rem;
  background-color: #f3f3f3;
}

#meet-specialist .meet-specialist-section > .specialist-list > div > img {
  border-radius: 0.5rem;
  width: 100%;
  background: #cbcbcb;
}

#meet-specialist .meet-specialist-section > .specialist-list > div > h5 {
  font-size: 2rem;
  font-weight: 600;
}

#meet-specialist .meet-specialist-section > .specialist-list > div:hover {
  cursor: pointer;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 0 7px 0px #0000008a;
          box-shadow: 0 0 7px 0px #0000008a;
}

#meet-specialist .meet-specialist-section > .specialist-list > div:hover > img {
  background: #cde1e0;
}

#patients-feedback {
  text-align: center;
  padding: 8rem 0;
  background-color: aliceblue;
}

#patients-feedback .patients-feedback-section {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#patients-feedback .patients-feedback-section > h3 {
  font-size: 6rem;
  font-weight: 600;
}

#patients-feedback .patients-feedback-section > p {
  font-size: 2.1rem;
  color: #a9a9a9;
}

#patients-feedback .patients-feedback-section > .patients-info {
  padding: 3rem 0;
}

#patients-feedback .patients-feedback-section .patients-info .left-side {
  position: relative;
}

#patients-feedback .patients-feedback-section .patients-info .left-side > img {
  width: 25rem;
  background: cornsilk;
  position: absolute;
  z-index: 4;
}

#patients-feedback .patients-feedback-section .patients-info .left-side > .back-patient {
  position: absolute;
  padding: 10rem;
  background: bisque;
  top: 5rem;
  left: 20rem;
  z-index: 5;
}

#patients-feedback .patients-feedback-section .patients-info .right-side .patient-card {
  background-color: white;
  padding: 1rem;
  border-radius: 2rem;
  width: 28rem;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: 'img pname' 'img ploc' 'img prate';
}

#patients-feedback .patients-feedback-section .patients-info .right-side .patient-card > img {
  width: 10rem;
  border-radius: 3rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: img;
}

#patients-feedback .patients-feedback-section .patients-info .right-side .patient-card > h6 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: pname;
  font-size: 2rem;
  font-weight: 600;
}

#patients-feedback .patients-feedback-section .patients-info .right-side .patient-card > span {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: ploc;
  color: #c3c3c3;
}

#patients-feedback .patients-feedback-section .patients-info .right-side .patient-card .patient-rate {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: prate;
}

#patients-feedback .patients-feedback-section .patients-info .right-side .patient-card .patient-rate i {
  color: yellow;
}

#patients-feedback .patients-feedback-section .patients-info .right-side > p {
  padding: 1.6rem 0;
  text-align: left;
  font-size: 2rem;
  color: #767676;
}
/*# sourceMappingURL=custom.css.map */